/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text:#000;
    --color-heading:#13670B;
	--color-background:#eee;
    --color-menu-background:15 63 10;
    --color-header-text:#fff;
    --color-header-background: 102 102 102;
}





/****************/
/* ALGEMENE CODE */
/****************/

    
body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
}

section {
    
    
    
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    
}


/****************/
/* ALGEMENE CODE HEADER */
/****************/

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */

@media (min-width:600px){}

header {
  
    display: flex;
    justify-content: space-between;
    position:sticky;
    padding-top: 1vh;
    align-items:center;
    
/* bron: https://stackoverflow.com/questions/40010597/how-do-i-apply-opacity-to-a-css-color-variable voor het gebruiken van rgb code voor opacity ipv HEX */    
    
    background-color: rgba(var(--color-header-background), 0.7);
    padding:0 1em;
    background-image:var(--header-gradient);
    z-index: 100;

}

header a img {
     
    display: flex;
    width: 120px;
    padding-left: 2em;
    padding-top: 2em;
    
}

/* Vlaggetje in het menu */

header ul li:nth-of-type(7) img {
    width: 50px;
    height: 50px;
    margin-right: 1.25em;
}

header > button {
    
    position: relative;
    z-index:200;
}




nav { 
    position: fixed;
    bottom:0;
    top:0;
    right:0;
    left:0;
    background-color: rgb(var(--color-menu-background) / 0.9);
    transform:translateX(100%);
  
  /* JOUW CODE HIER - stap 2 */
  
  
  /* JOUW CODE HIER - stap 4 */
  transition:1s;
  
}

/* als menu open is */
nav.open {
  /* JOUW CODE HIER - stap 4 */
  
  transform:translateX(0%);
  
}
    

header ul {
    align-items: center;
}

ul {
    display: block;
    list-style-type: disc;
    list-style: none;
}

nav ul li {
    padding: 16px;
}

nav li a {
    
    color:var(--color-header-text);
    font-weight: 600;
    margin-right: 1.25em;
    font-size: 14px;
    
}




