/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text:#111;
    --color-heading:#13670B;
	--color-background:#eee;
}





/****************/
/* ALGEMENE CODE */
/****************/


body {
  color:var(--color-text);
  background-color:var(--color-background);
}


/****************/
/* ALGEMENE CODE HEADER */
/****************/


header {
  
    display: flex;
    height: 300px;
    flex-flow: row wrap;
  
}

header a img {
     
    display: flex;
    width: 100px;
    padding-left: 30px;
    
}

header ul {
    
    display: flex;
    align-items:center;
    
}

