@font-face 

/**************/
/* CSS REMEDY */
/**************/


*, *::after, *::before {
  box-sizing:border-box; 

}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    
	--color-text:#000;
    --color-heading-text:#13670B;
    --color-h3-text:#ffffffb3;
	--color-background:#eee;
    --color-menu-background:15 63 10;
    --color-header-text:#fff;
    --color-header-background: 102 102 102;
    --color-witte-titel:#fff;
    --color-kleine-text:#ffffffb3;
    --color-blokinblok-background:15 63 10;
    --color-background-footer:#01541C;
    --color-main-button: 255 255 255;
    --color-background-button:#ccc;
    --color-background-footer-input: 255 255 255;
    --footer-background-color:radial-gradient(circle, rgba(0,162,31,1) 0%, rgba(0,136,32,1) 0%, rgba(0,98,32,1) 47%);
    --footer-background-linear-gradient:linear-gradient(0deg, rgba(0,162,31,1) 0%, rgba(0,19,4,1) 0%, rgba(0,61,18,1) 47%, rgba(1,84,28,1) 100%);
    --font-size-h2:36px;
    --font-size-h3:10px;
    --font-size-witte-titel:18px;
    --font-size-witte-titel-kleiner:12px;
    --font-size-kleine-tekst:10px;
    --font-size-h1-titel:40px;
    --font-size-intro-titel:12px; 
    --footer-tekst-size:14px;
}

@media (prefers-color-scheme: dark) {
    img {
        filter:brightness(.85);
    }
    
}




/****************/
/* ALGEMENE CODE */
/****************/

* {
    margin:0px;
    padding:0px;
    max-width: 338px;
    
}    


body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
}
  

main > section {
    
    
    height: 75vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    
}

/* textgrootes etc toevoegn */

/* buttons styling toevoegn */

/* font styling etc toevoegn */

/* states etc toevoegn */



/****************/
/* ALGEMENE CODE HEADER */
/****************/

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */

@media (min-width:32em){}

header {
  
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-top: 1vh;
    align-items:center;
    
/* bron: https://stackoverflow.com/questions/40010597/how-do-i-apply-opacity-to-a-css-color-variable voor het gebruiken van rgb code voor opacity ipv een HEX-code */    
    
    background-color: rgba(var(--color-header-background) / 0.6);
    padding:0 1em;
    background-image:var(--header-gradient);
    z-index: 100;
    backdrop-filter: blur(3px);
    
}


a {
    position: relative;
    display:inline-block;
    text-decoration:none;
}

nav a::after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top:100%;
    height:.1em;
    background-color:currentColor;
    
    transform:scaleX(0%);
    transition:.3s; 

}

header a:hover::after {
    transform:scaleX(100%);
}

header a::after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top:100%;
    height:.1em;
    background-color:currentColor;
    
    transform:scaleX(0%);
    transition:.3s; 

}

nav a:hover::after {
    transform:scaleX(100%);
}


header a:nth-of-type(1) img {
     
    position: relative;
    width: 3.8125em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    
}

/* Vlaggetje in het menu */

header ul li:nth-of-type(7) img {
    
    width: 1.25em;
}

header > button:nth-of-type(1) {
    
    position: relative;
    z-index:200;
    width: 2em;
    
}


nav { 
    position: fixed;
    bottom:0;
    top:0;
    right:0;
    left:0;
    background-color: rgb(var(--color-menu-background) / 0.9);
    transform:translateX(100%);
    height:100vh;
  
  /* JOUW CODE HIER - stap 2 */
  
  
  /* JOUW CODE HIER - stap 4 */
  transition:1s;
  
}

/* als menu open is */
nav.open {
  /* JOUW CODE HIER - stap 4 */
  
  transform:translateX(20%);
  
}
    

header ul {
    align-items: center;
    padding-top: 58px;
    padding-left: 38px;
}

ul {
    display: block;
    list-style-type: disc;
    list-style: none;
    
}

nav ul li {
    padding: 16pxed
}

nav li a {
    
    color:var(--color-header-text);
    font-weight: 600;
    margin-right: 2.25em;
    font-size:.875em;
    padding: 1em 0;
    font-family: 'PT Sans';
    text-transform:uppercase;
    
}
    

main > section:nth-of-type(1)  {
    
    display: flex;
    flex-direction: column;
    background-image: url(../images/heineken-zilver-blik-in-water-bg.jpeg);
    background-size: cover;
    margin-bottom: 3.75rem;
    
}




main > section:nth-of-type(1) a:nth-of-type(1) {
    
    border: 0;
    cursor: pointer;
    display: block;
    font-weight: 700;
    letter-spacing: .031875rem;
    padding: 0.9375rem 1.25rem;
    text-align: center;
    width:14rem;
    background-color:rgb(var(--color-main-button) / 0.3);
    
}

main > button:nth-of-type(1) {
    
    border: 0;
    color:var(--color-witte-titel);
    background-color:var(--color-background-button);
    cursor: pointer;
    display: block;
    font-weight: 700;
    letter-spacing: .031875rem;
    padding: 0.9375rem 1.25rem;
    text-align: center;
    
    z-index: 9999;
    position: fixed;
    bottom: 100px;
    right: 30px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 50%) 0px 4px 12px;
    
}

main > button:nth-of-type(2) {
    
    border: 0;
    color:var(--color-witte-titel);
    background-color:var(--color-background-button);
    cursor: pointer;
    display: block;
    font-weight: 700;
    letter-spacing: .031875rem;
    padding: 0.9375rem 1.25rem;
    text-align: center;
    
    z-index: 9999;
    position: fixed;
    bottom: 40px;
    right: 30px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 50%) 0px 4px 12px;
    
    
    
}

/* ////// SECTION 1 ////// */

section:nth-of-type(1) ul {
    
    margin-top:85%;
	padding:0 1em;
	list-style:none;
	
	display:grid;
	grid-template-columns: 1fr;
    
}

section:nth-of-type(1) ul li p {
    
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-size:var(--font-size-intro-titel);
    color:var(  --color-witte-titel);
    font-family: 'PT Sans';
    
}

section:nth-of-type(1) h1 {
    
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    font-size:var(--font-size-h1-titel);
    color:var(  --color-witte-titel);
    font-family: 'Expletus Sans', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Neuton', serif;
    
}

section:nth-of-type(1) a {
    
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 700;
    letter-spacing: .031875rem;
    padding: 0.9375rem 1.25rem;
    margin: 30 0 0;
    text-align: center;
    font-family: 'PT Sans';
    
}

/* ////// SECTION 2 ////// */


/* H2 */

section:nth-of-type(2) h2 {
    
    display: block;
    margin-bottom: 1rem;
    margin-top: 0;
    color:var(--color-heading-text);
    font-size:var(--font-size-h2);
    padding:0 16px;
    font-family: 'Expletus Sans', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Neuton', serif;
}

/* H3 */

section:nth-of-type(2) h3 {
    
    display: block;
    margin-bottom: 0.3125em;
    margin-top: 0;
    color:var(--color-h3-text);
    font-size:var(--font-size-h3);
    font-family: 'PT Sans';
    
}

/* GRIDBOX */

section:nth-of-type(2) ul {
    
	margin:0;
	padding:0 1em;
	list-style:none;
	
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:1em;
    
}

/* BLOKJE 1 - ACHTERGROND */

section:nth-of-type(2) ul li:nth-of-type(1) {
    
	grid-column-start:1; /* van de eerste lijn */
	grid-column-end:-1; /* tot de laatste lijn */
    display: flex;
    padding: 1.125rem;
    align-items: flex-end;
    background-image: url(../images/heineken_history.jpeg);
    background-size: cover;
    min-height: 250px;
    
}

/* BLOKJE 1 -> GROEN-BLOKJE-IN-BLOK */

section:nth-of-type(2) ul li:nth-of-type(1) div {
    
    display: block;
    position: relative;
    width: 50%;
    background-color: rgba(var(--color-blokinblok-background) / 0.7);
    padding: 0.5625em;
}

/* BLOKJE 1 -> GROEN-BLOKJE-IN-BLOK -> Witte tekst */

section:nth-of-type(2) ul li:nth-of-type(1) div p:nth-of-type(1) {
    
    margin: 0;
    font-size:var(--font-size-witte-titel);
    color:var(  --color-witte-titel);
    font-family: 'Expletus Sans', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Neuton', serif;
    
}

section:nth-of-type(2) ul li:nth-of-type(1) div p:nth-of-type(2) {
    
    margin: 0;
    font-size:var(--font-size-kleine-tekst);
    color:var(--color-kleine-text);
    padding-top:0.3125em;
    font-family: 'PT Sans';
}


/* BLOKJE 2 - ACHTERGROND */

section:nth-of-type(2) ul li:nth-of-type(2) {
    
    display: flex;
    padding: 1.125rem;
    align-items: flex-end;
    background-color: dimgrey;
    background-image: url(../images/duurzaam_bg.jpeg);
    background-size: cover;
    height: 170px;
}

/* BLOKJE 2 -> GROEN-BLOKJE-IN-BLOK */

section:nth-of-type(2) ul li:nth-of-type(2) div {
    
    display: block;
    position: relative;
    width: 100%;
    background-color: rgba(var(--color-blokinblok-background) / 0.7);
    padding: 0.5625em;
}

/* BLOKJE 2 -> GROEN-BLOKJE-IN-BLOK -> Witte tekst */

section:nth-of-type(2) ul li:nth-of-type(2) div p:nth-of-type(1) {
    
    margin: 0;
    font-size:var(--font-size-witte-titel-kleiner);
    color:var(  --color-witte-titel);
    font-family: 'Expletus Sans', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Neuton', serif;
    
}

/* BLOKJE 3 - ACHTERGROND */

section:nth-of-type(2) ul li:nth-of-type(3) {
    
    display: flex;
    padding: 1.125rem;
    align-items: flex-end;
    background-color: dimgrey;
    background-image: url(../images/bouwproces_bg.jpeg);
    background-size: cover;
    height: 170px;
}

/* BLOKJE 3 -> GROEN-BLOKJE-IN-BLOK */

section:nth-of-type(2) ul li:nth-of-type(3) div {
    
    display: block;
    position: relative;
    width: 100%;
    background-color: rgba(var(--color-blokinblok-background) / 0.7);
    padding: 0.5625em;
}

/* BLOKJE 3 -> GROEN-BLOKJE-IN-BLOK -> Witte tekst */

section:nth-of-type(2) ul li:nth-of-type(3) div p:nth-of-type(1) {
    
    margin: 0;
    font-size:var(--font-size-witte-titel-kleiner);
    color:var(  --color-witte-titel);
    font-family: 'Expletus Sans', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Neuton', serif;
    
}



/* ////// SECTION 3 ////// */


/* GRIDBOX */

section:nth-of-type(3) ul {
    
	margin-top: 3.75rem;;
	padding:0 1em;
	list-style:none;
	
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:1em;
    
}

section:nth-of-type(3) ul li:nth-of-type(1) {
    
	grid-column-start:1; /* van de eerste lijn */
	grid-column-end:-1; /* tot de laatste lijn */
    display: flex;
    padding: 1.125rem;
    align-items: flex-end;
    background-image: url(../images/manmethand.jpeg);
    background-size: cover;
    min-height: 200px;
    
}

/* BLOKJE 1 -> GROEN-BLOKJE-IN-BLOK */

section:nth-of-type(3) ul li:nth-of-type(1) div {
    
    display: block;
    position: relative;
    width: 50%;
    background-color: rgba(var(--color-blokinblok-background) / 0.7);
    padding: 0.5625em;
}

/* BLOKJE 1 -> GROEN-BLOKJE-IN-BLOK -> Witte tekst */

section:nth-of-type(3) ul li:nth-of-type(1) div p:nth-of-type(1) {
    
    margin: 0;
    font-size:var(--font-size-witte-titel);
    color:var(  --color-witte-titel);
    font-family: 'Expletus Sans', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Neuton', serif;
    
}

section:nth-of-type(3) ul li:nth-of-type(1) div p:nth-of-type(2) {
    
    margin: 0;
    font-size:var(--font-size-kleine-tekst);
    color:var(--color-kleine-text);
    padding-top:0.3125em;
    font-family: 'PT Sans';
}

section:nth-of-type(3) ul li:nth-of-type(2) {
    
	grid-column-start:1; /* van de eerste lijn */
	grid-column-end:-1; /* tot de laatste lijn */
    display: flex;
    padding: 1.125rem;
    align-items: flex-end;
    background-image: url(../images/omhelsing.png);
    background-size: cover;
    min-height: 200px;
    
}

/* BLOKJE 1 -> GROEN-BLOKJE-IN-BLOK */

section:nth-of-type(3) ul li:nth-of-type(2) div {
    
    display: block;
    position: relative;
    width: 50%;
    background-color: rgba(var(--color-blokinblok-background) / 0.7);
    padding: 0.5625em;
}

/* BLOKJE 1 -> GROEN-BLOKJE-IN-BLOK -> Witte tekst */

section:nth-of-type(3) ul li:nth-of-type(2) div p:nth-of-type(1) {
    
    margin: 0;
    font-size:var(--font-size-witte-titel);
    color:var(  --color-witte-titel);
    font-family: 'Expletus Sans', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Neuton', serif;
    
}

section:nth-of-type(3) ul li:nth-of-type(2) div p:nth-of-type(2) {
    
    margin: 0;
    font-size:var(--font-size-kleine-tekst);
    color:var(--color-kleine-text);
    padding-top:0.3125em;
    font-family: 'PT Sans';
}


section:nth-of-type(3) h3 {
    
    display: block;
    margin-bottom: 0.3125em;
    margin-top: 0;
    color:var(--color-h3-text);
    font-size:var(--font-size-h3);
    font-family: 'PT Sans';

}

/* ////// FOOTER ////// */


footer > section ul:nth-of-type(1) h2 {
    
    color: #fff;
    font-size: 1.375rem;
    opacity: .4;
    font-family: 'Expletus Sans', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Neuton', serif;
    margin-bottom: 1em;
    
}

footer > section ul:nth-of-type(1) input:nth-of-type(1) {

    border-radius: 0.25rem 0 0 0.25rem;
    cursor: pointer;
    flex: 7.8;
    font-size: 1rem;
    overflow: hidden;
    
}

footer > section ul:nth-of-type(1) input:nth-of-type(2) {

    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    flex: 2.2;
    font-size: 1.0625rem;
    font-weight: 700;
    
}

footer > section ul:nth-of-type(1) {
    
    margin-top: 0;
    padding: 2.25em;
    height: 20em;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    background-image:var(--footer-background-color);
    background-size: cover;
    
}

footer > section ul:nth-of-type(1) li:nth-of-type(3) {
    
    color: #fff;
    font-size: 1rem;
    opacity: .5;
    font-size:var(--footer-tekst-size);
    
}

footer > section ul:nth-of-type(2) {
    
    margin-top: 0;
    padding: 2.25em;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    background-color:var(--color-background-footer);
    background-size: cover;
    
}

footer ul:nth-of-type(2) li img {
    
    width: 84px; /* bah bah bah bah bah pixels */
    display:block;
    margin:0 auto;
    padding-bottom: 3.75em;
    
}

footer ul:nth-of-type(2) li a {
    
    font-size:var(--footer-tekst-size);
    margin: 0 0 1em;
    padding: 0;
    
}
    
footer > section ul:nth-of-type(3) {
    
    margin-top: 0;
    padding: 2.25em;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    background-image:var(--footer-background-linear-gradient);
    background-size: cover;

}

footer > section ul:nth-of-type(3) img {
    
    display: block;
    height: 1em
        
}

footer > section ul:nth-of-type(3) linth-of-type(2) label {
    
    width: 50%;
    
}

input[type"email"] {
    
    width: 50%;
    
}

label:nth-of-type(1) {
    display: none;
}

footer div {
    
    display: flex;
}

footer input:nth-of-type(1) {
    
    background-color:rgb(var(--color-background-footer-input) / 0.1);
    border: 0.0625rem solid rgba(255,255,255,.2);
    border-radius: 1;
    padding: 0.6875rem 1.25rem;
    max-width: 10rem;
    
}

footer input:nth-of-type(2) {
    
    background-color:rgb(var(--color-background-footer-input) / 0.5);
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
    letter-spacing: .03125rem;
    padding: 0.625rem 1.25rem;
    
}
